$primary-color: #fffbfb;
$button-color: #55c2d8;
$background-color: #e6e6e6;
$second-headline: #464547;
$third-headline: #666666;
$section-bg: #8c4f2a4d;

$color-highlight: $primary-color, $button-color, $background-color,
  $second-headline, $third-headline, $section-bg;

$main-font: "Source Sans Pro";
$secondary-font: Oswald, sans-serif;

$font-stack: $main-font, $secondary-font;
