* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: #e6e6e6;
}
.container .headline {
  height: 800px;
  background-color: #3d3131;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom, right, center;
  animation: changebackground 3s ease infinite;
  /*The code of the animation is in animation.css folder */
}
.container .headline .headline::before {
  content: "";
  background-image: url(../assets/shining.png);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.2;
  z-index: 2;
  transform: translateY(-30px);
}
.container .headline .headline::after {
  content: "";
  background-image: url(../assets/Union_circles.png);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.2;
  z-index: 1;
  transform: translateY(-40px);
}
.container .headline .intro {
  display: flex;
  justify-content: space-between;
}
.container .headline .intro .intro__header {
  height: 150px;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
.container .headline .intro .intro__header .intro__list {
  display: flex;
  gap: 40px;
  margin-right: 150px;
}
.container .headline .intro .intro__header .intro__list .intro__list--item {
  display: inline-block;
  list-style: none;
  font-family: "Source Sans Pro";
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  letter-spacing: 0.2em;
}
.container .headline .intro .intro__header .intro__project {
  text-decoration: none;
  text-transform: uppercase;
  color: #fffbfb;
  display: inline-block;
}
.container .headline .intro .intro__header .intro__project--main {
  margin-left: 100px;
  letter-spacing: 0.1em;
  margin-right: 20px;
  font-family: "Source Sans Pro";
  font-size: 20px;
  font-weight: normal;
}
.container .headline .app__headline--main {
  color: #fffbfb;
  margin-bottom: 40px;
  margin-top: 20px;
}
.container .headline .third__headline {
  color: #fffbfb;
  margin-bottom: 40px;
}
.container .section-headline {
  background-color: #e6e6e6;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container .section-headline .app__headline--text {
  font-family: "Source Sans Pro";
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  color: #666666;
  line-height: 22px;
}
.container .section-headline .app__headline--second {
  margin: 25px;
  color: #464547;
}
.container .section-headline .third__headline {
  margin-bottom: 25px;
  color: #666666;
}
.container .section-headline .section-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  column-gap: 50px;
  margin: 30px 150px;
  align-content: center;
}
.container .learn-more {
  background-image: url(../assets/background-2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(140, 79, 42, 0.3019607843);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container .app-section {
  width: 100%;
  height: 100vh;
}
.container .app-section .headline__text--styles {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  position: relative;
}
.container .app-section .app__headline {
  font-family: Oswald, sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  text-align: center;
}
.container .app-section .third__headline {
  font-family: "Source Sans Pro";
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
}
.container .app-section .app-section__button--read-more {
  color: blue;
  border-radius: 18px;
  letter-spacing: 0.1em;
  padding: 5px 18px;
  margin-bottom: 40px;
}
.container .app-section .app-section__button--learn-more {
  font-family: Oswald, sans-serif;
  margin-bottom: 50px;
  font-size: 70px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .app__headline--last {
  color: #fffbfb;
  margin-bottom: 40px;
  margin-top: 20px;
}
.container .footer {
  height: 170px;
  background-color: #464547;
  padding-left: 140px;
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-content: stretch;
}/*# sourceMappingURL=styles.css.map */